*{
    padding: 0;
    margin: 0;
}
#contenedor{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12;
    text-align: justify;
    
}


button{

position: relative;
left: 45em;
top: 0.5em;


}

#informacion{

background-color: rgb(230, 81, 131);
padding-left: 1.5em;
padding-top: 1.5em;
padding-bottom: 1.5em;
padding-right: 1.5em;
width: 80%;
height: 80%;
position: relative;
top: 1.5em;
left: 2.5em;
margin: 0.5cm;
border-radius: 1cm;
}

#respuesta{

background-color: rgb(120, 98, 201);
width: 80%;
height: 80%;
position: relative;
left: 10%;
}
